.card {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    overflow: hidden;
    display: grid;

    grid-template-rows: 20% 55% 25%;

    border-radius: 1em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.56s ease-in-out;
    user-select: none;
}

.card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1), 0 3px 1px -2px rgba(0, 0, 0, 1), 0 1px 5px 0 rgba(0, 0, 0, 1);
}

.card footer {
    border-radius: 20px 20px 0 0;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}

.card footer .footer-item {
    justify-self: center;
    margin: 0 2%;
    width: 50%;
}

.card footer .footer-item:first-child {
    justify-self: center;
    margin-right: 1%;
    width: 10%;
}

.card footer .footer-item:last-child {
    justify-self: right;
    width:20%;
}

.card button {
    background: #edededbb;
    border: none;
    cursor: pointer;
    font-size: 60%;
    padding: 30%;
}

.card button.has-icon {
    border-radius: 100%;
}

.card time {
    background-color: white;
    border-radius: 1em;
    padding: 1% 30%;
    font-weight: 400;
    width: 10%;
}