.App {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list > div {
  margin: 2% 1%;
}

.title {
  font-size: var(--title-size);
  font-weight: 400;
  color: white;
}

.subtitle {
  font-size: var(--subtitle-size);;
  font-weight: 100;
  color: white;
}

p {
  margin: 0 0;
  text-align: left;
}